
.gitattributes
.vs/SchedulingOptimization/v16/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.obj
*.enc
*.tlog
*.log
*.exe
*.recipe
*.ilk
*.pdb
Debug/SchedulingOptimization.vcxproj.FileListAbsolute.txt
*.idb
*.sln
*.vcxproj
*.filters
*.user
